/*すべてに共通する部分　ここから*/
@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

hesd,body{
	width: 960px;
	margin: 0 auto;
}

.btn {
	background-color: #777777;
	border: 1px solid #000;
	padding: 3px 5px;
}

/*すべてに共通する部分　ここまで*/
/*List　ここから*/
.navmenu {
	height: 100px;
	margin: 10px 0;
}

table th, td {
	width: 950px;
	height: 50px;
	border: 1px solid #000;
}

table th {
	background-color: #75A9FF;
	text-align: center;
	padding: 3px 5px;
}

.tid {
	width: 2%;
	padding: 3px 5px;
}

.tname {
	width: 20%;
	text-align: center;
	padding: 3px 5px;
}

.tadres {
	width: 33%;
	text-align: center;
	padding: 3px 5px;
}

.tadresth:hover {
	background-color: green;
	text-align: center;
	padding: 3px 5px;
}

.ttel {
	width: 20%;
	text-align: center;
	padding: 3px 5px;
}

.tcategory {
	width: 15%;
	text-align: center;
	padding: 3px 5px;
}

.tbrank {
	width: 10%;
}

.tbtn {
	display: block;
	text-align: center;
}

.serch {
	background-color: #fff;
	border: 1px solid #000;
	padding: 3px 5px;
	width: 200px;
}

.serchtext {
	background-color: #fff;
	border: 1px solid #000;
	width: 198px;
	height: 25px;
}

.addbtn {
	width: 200px;
	height:25px;
	position: relative;
	top:30px;
}

.navleft {
	display: flex;
	justify-content: space-between;
}

.navright {
	float: right;
}

.navright p {
	position: relative;
	right:45px;
	top:20px;
}

/*List　ここまで*/
/*Add　ここから*/
/*Add　ここまで*/
/*AddCheck　ここから*/
/*AddCheck　ここまで*/
/*Delete　ここから*/
/*Delete　ここまで*/
/*Edit　ここから*/
.text{
	margin-bottom:20px;
}
.text input {
	height: 20px;
	width: 200px;
	margin-bottom: 5px;
}

.text select {
	height: 20px;
	width: 200px;
	margin-bottom: 5px;
}

.namebox {
	position: relative;
	left: 32px;
}

.adresbox {
	position: relative;
	left: 32px;
}

.editbtn {
	textalign: center;
	height: 25px;
	width: 200px;
}

.returnbtn {
	float: left;
}
/*Edit　ここまで*/
/*EditCheck　ここから*/
/*EditCheck　ここまで*/